table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  /* .blank{
    border-left: 1px solid white;
    border-right:  1px solid white;
    border-bottom:  1px solid black;
    border-top:  1px solid black;
  } */